#macos stuff
.DS_Store
._DS_Store
._.DS_Store
._*
#cmake leftovers
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
#library files
*.a
#binary
wos
#data files
#*.dat
#*.csv
#latex to pdf helper files
*.*~
*.tmp
*.xref
*.pdx
*.pnd
*.bbl
*.bcf
*.auto
*.dvi
*.glo
*.out
*.ilg
*.ind
*.4ct
*.fdb_latexmk
*.fls
*.synctex.gz
*.4tc
*.lg
*.xmpi
*.tcp
*.toc
*.tps
*.blx.bib
*.run.xml
*.pdf
*.bbl
*.blg
*.idx
*.aux
*.log
*.pdf
*.glg
*.gls
*.xdy

*.nvvp
