#macos stuff
.DS_Store
._DS_Store
._.DS_Store
._*
#cmake leftovers
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
#binary
wos
#data files
*.dat
#latex to pdf helper files
*.pdf
*.aux
*.log
*.pdf

*.nvvp
